# Dependencies
node_modules
bower_components

# Build
dist
.tmp
coverage
report

# IDE
.idea

# TS Typings
typings

# Info we don't want stored on GitHub
xml-cache
test/mocks/offlineXML.js

npm-debug.log
